body, button, textarea {
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

.title h1 {
    text-align: center;
    margin: 0 auto;
}

p {
    margin-bottom: 1.5em;
}

body {
    margin: 0;
    padding: 0;
}

.intro {
    padding: 2em 2em;
    color: #ffffff;
    background: #9900ef;
}

.intro p, .test-area {
    margin: 0 auto;
    max-width: 550px;
}

.test-area {
    margin-bottom: 4em;
    padding: 0 2em;
}

.test-wrapper {
    border: 10px solid grey;
    border-radius: 10px;
}

.test-wrapper {
    display: flex;
}

.test-wrapper textarea {
    flex: 1;
}

#reset {
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: #fcb900;
    background: white;
    border: 10px solid #fcb900;
}

#reset:hover {
    color: white;
    background-color: #fcb900;
    cursor: pointer;
}