body, button, textarea {
    font-family: 'Source Sans Pro', 'Helvetica', Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: center;
}

.title {
    margin: 0 auto;
    padding: 1em 1em;
}

p {
    margin-bottom: 1.5em;
}

body {
    margin: 0;
    padding: 0;
}

.intro {
    padding: 2em 2em;
    color: #ffffff;
    background: #9900ef;
}

.intro p, .test-area {
    margin: 0 auto;
    max-width: 500px;
}

.test-area {
    margin-bottom: 4em;
    padding: 0 2em;
}

.test-wrapper {
    border: 10px solid grey;
    border-radius: 10px;
    display: flex;
}

.test-wrapper textarea {
    flex: 1;
    text-align: left;
}

.reset-button {
    padding: 1em;
}

#reset {
    padding: .5em 1em;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    background: #fcb900;
    border: 8px solid #fcb900;
}

#reset:hover {
    color: #fcb900;
    background-color: white;
    cursor: pointer;
}